html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto',
    sans-serif;
}

body {
  overflow: hidden;
}

.bg-green-blue {
  background-color: #3feee6
}

.green-blue {
  color: #3feee6
}

.bg-whitey {
  background-color: #cafafe
}

.whitey {
  color: #cafafe
}

.bg-redder {
  background-color: #fc4445
}

.redder {
  color: #fc4445
}

.spin-circle {
  position: absolute;
  width: 20vh;
  height: 20vh;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #cafafe;
  animation-name: rotateH;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fc4445;
  left: 50%;
  top: -10px;
}

.toasty {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.toasty-hidden {
  transform: translateX(100vw);
}

.toasty-show {
  transform: translateX(calc(100vw - 100%));
}

@keyframes rotateH {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(360deg)
  }
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flash {
  animation: flash 1s linear
}

@keyframes flash {
  0% {
    opacity: 0
  }

  20% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}